.match-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  width: 20vw;
  border-radius: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.competing-team-logo {
  max-width: 60px;
  height: 40px;
}

.competing-team-name {
  text-align: center;
  color: #ffffff;
  font-family: Bree-Serif;
  font-size: 16px;
  flex-grow: 1;
}

.result {
  text-align: center;
  color: #ffffff;
  font-family: Bree-Serif;
  font-size: 10px;
}

.match-status {
  font-family: Bree Serif;
  font-size: 14px;
}

.match-won {
  color: green;
}

.match-lost {
  color: red;
}
